<div class="project-container">
    <div *ngIf="!!project" class="project-item">
        <h2>{{project.projectname}}</h2>
        <div>
            <div class="date"><span>{{ project.from.toLocaleDateString() }}</span><span
                    *ngIf="project.to"> bis {{ project.to.toLocaleDateString() }}</span></div>
            <div class="description">{{project.description}}</div>
            <div class="tec">
                <span *ngFor="let tec of project.tecstack; let i=index">
                    {{tec}} <span *ngIf="i != project.tecstack.length-1"> | </span>
                </span>
            </div>
            <button (click)="onBackButtonClick()">back</button>
        </div>
    </div>
</div>