<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span>>></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <div class="nav-item active">
                <a class="nav-link" [routerLink]="['']" (click)="isMenuCollapsed = true">root</a>
            </div>
            <div class="nav-item active">
                <a class="nav-link" [routerLink]="['/cv']" (click)="isMenuCollapsed = true">projects</a>
            </div>
            <div class="nav-item active">
                <a class="nav-link" [routerLink]="['/contact']" (click)="isMenuCollapsed = true">contact</a>
            </div>
        </div>
    </div>
    <div class="pfroile-picture">
        <img src="assets/images/profile.jpg" />
    </div>
</nav>
